:root{
    
    --primary-color: #313454;
    --header-height: 100px;
    --primary-text-dark-color: #6c7279;
    --secondary-text-light-color: #efdcdd;
    --thirst-color: #ccccd3;
    --white-text-color: #fff;
    --primary-font-family: 'Raleway', sans-serif;
    --secondary-font-family: 'Open Sans', sans-serif;

}


*{
    box-sizing: border-box;
}
html{
    /* HACK */
    font-size: 62.5%;
    line-height: 1.4rem;
    font-family: var(--primary-font-family);
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Button */
.btn {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 16px 50px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-weight: 700;
}
.btn.btn--success{
    color: var(--secondary-text-light-color);
    background-color: #e84545;
}

.btn:hover {
    opacity: .9;
}
@keyframes fadeIn {
    from{
        opacity: .5;

    }
    to{
        opacity: 1;
    }
}
@keyframes topIn {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes botIn {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}